<h2>Idhar sab update aur khullaaa dikhegaa</h2><p>:)</p>

<form method="post">
    {% csrf_token %}
        <label for="{{ form.title.id_for_label }}">Title</label>
        <input type="text" name="{{ form.title.name }}" value="{{ form.title.value }}"/>
        <label for="{{ form.body.id_for_label }}"> Body</label>
        <input type="text" name="{{ form.body.name }}" value="{{ form.body.value }}"/>
    <button type="submit">Submit</button>
    {{ form.errors }}
</form>

{{ post.title }}
{{ post.body }}